body {
  background: url("../assets/img/tealbackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
  background-color: #00101f;
  margin: 0;
  font-family: "Helvetica";
  color: white;
  font-weight: 300;
  letter-spacing: 0.022em;
}
html {
  scroll-behavior: smooth;
}

.img-background-container {
  display: flex;
  position: relative;
}

.image-background {
  width: 100%;
  height: 100%;
}

.image-profile {
  position: absolute;
  width: 300px;
  top: 80px;
  left: 175px;
  z-index: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
nav a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.2em;
  font-weight: 300;
  letter-spacing: 0.022em;
  color: #091555;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
nav a:hover {
  color: white;
}
main {
  margin-left: 250px;
}
section {
  padding: 10px;
}
.navbar {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica";
}

.page-layout {
  display: flex;
  padding-left: 250px;
}

.info {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 385px;
  left: 430px;
}

.content {
  font-weight: 300;
  color: white;
  text-align: left;
  padding-bottom: 30px;
  padding-left: 20px;
  letter-spacing: 0.022em;
}

.download_button {
  color: #091555;
  font-weight: bold;
  background: aquamarine;
  font-size: 20px;
  border: 3px solid aquamarine;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  vertical-align: -webkit-baseline-middle;
}
.download_button:hover {
  color: white;
}
.button-container {
  padding-left: 30px;
}

.icon_container {
  padding-left: 60px;
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  font-size: 30px;
}
.icon_container > .icon {
  padding-right: 30px;
}

.fa-github-square {
  color: #091555;
}
.fa-github-square:hover {
  color: white;
}
.fa-envelope {
  color: #091555;
}
.fa-envelope:hover {
  color: white;
}
.fa-linkedin {
  color: #091555;
}
.fa-linkedin:hover {
  color: white;
}

.detail-container {
  padding-left: 250px;
}
.title {
  color: #fe5c00;
  font-size: 175%;
  font-weight: 300;
  letter-spacing: 0.022em;
  margin-bottom: 20px;
  margin-top: 20px;
}

.image-text {
  font-weight: 300;
  letter-spacing: 0.022em;
  text-align: center;
  font-size: 130%;
  color: aquamarine;
}
.course-title {
  font-weight: 300;
  letter-spacing: 0.022em;
  color: aquamarine;
  font-size: 120%;
}

@media screen and (max-width: 780px) {
  .image-profile {
    position: absolute;
    width: 40vw;
    top: 30px;
    left: 30px;
    z-index: 0;
  }
  .hideNav {
    display: none;
  }
  .page-layout {
    display: flex;
    padding-left: 0;
  }

  .info {
    display: flex;
    font-size: 12px;
    position: inherit;
    flex-direction: column;
    align-items: center;
  }

  .detail-container {
    padding-left: 0;
  }
  .icon_container {
    padding-left: 5px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
  }
  .fa-github-square {
    color: #fe5c00;
  }
  .fa-github-square:hover {
    color: white;
  }
  .fa-envelope {
    color: #fe5c00;
  }
  .fa-envelope:hover {
    color: white;
  }
  .fa-linkedin {
    color: #fe5c00;
  }
  .fa-linkedin:hover {
    color: white;
  }
}
