body {
  background: url("../assets/img/tealbackground.jpg") no-repeat center center
    fixed;
  background-size: cover;
  margin: 0 auto;
  font-family: "Helvetica";
  line-height: 1.5;
}
ul {
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-family: "Helvetica";
}

#header-image {
  top: 10px;
  position: relative;
}

#header-image img {
  width: 100%;
  margin: none;
  padding: none;
}

#image-text {
  position: absolute;
  top: 20%;
  left: 30%;
  font-family: "Helvetica";
  font-size: 150%;
  color: #091555;
  transform: translate(-30%, -30%);
  text-align: left;
}

.page_title {
  color: aquamarine;
  text-align: center;
  font-family: "Helvetica";
  font-size: 250%;
}

.about_me {
  color: white;
  text-align: center;
}

.title {
  color: aquamarine;
  font-size: 175%;
  font-weight: bolder;
  margin-bottom: 20px;
  margin-top: 20px;
}

.content-container {
  max-width: 50em;
  padding: 1em 1em;
  margin: 0 auto;
}

.content {
  color: white;
  font-size: medium;
  text-align: left;
  padding-bottom: 30px;
}

.download_button {
  color: #091555;
  font-weight: bold;
  background: aquamarine;
  font-size: 20px;
  border: 3px solid aquamarine;
  border-radius: 20px;
  width: 200px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
}
.download_button:hover {
  color: #d6260d;
}

#education {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}

#projects {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}

#codingSkills {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}

#certificates {
  height: 600px;
  width: 600px;
  margin: 80px 40px 80px 40px;
}
